*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-container{
    width: 300px; 
    display: inline-block;
    display: flex;
    align-items: center;
}

.img-container img{
    width: 25%;
    margin-right: 10px;

}

#play{
    margin-right: 10px;
    width: 80px;
    cursor: pointer;
}

main{
    background-color: aquamarine;
    /* height: calc(100vh - 130px); */
}

#grid{
    width: 55%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    height: calc(100vh - 130px);
}

.square{
    flex-basis: 10%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.clicked{
    background-color: lightblue;
    
}

footer{
    height: 50px;
    display: flex;
    align-items: center;
}

footer > span{
    margin-left: 10px;
}

#underline{
    color: blue;
    text-decoration: underline;
}